body {
    background-color: rgb(63, 63, 63);

    color: rgb(255,255,255);

    margin: 0px;
}

a {
    color:rgb(220, 78, 255)
}

.page-content {
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
}

.section-separator {
    border-color: rgb(64, 152, 253);
    border-width: 2px;
    border-style: solid;

    background-color: rgb(64, 152, 253);
}

.section-title {
    margin: 0px;

    font-size: 20px;
    font-family: Sans-serif;
    font-weight: bold;

    color: rgb(255,255,255);
}



* {
    box-sizing: border-box;
}



.column {
    float: top;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.colume > a > img {

}



/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}
img {
    max-width: 100%;
}
.image {
    flex-basis: 40%
}



/*scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



