<%- include('../common/header.ejs'); %>

<link type="text/css" href="../style/game.css" rel="stylesheet">

<div class="container">
    <div class="image">
        <img src="https://www.nintendo.com/sg/switch/aaab/img/product.png"/>
    </div>

    <div>
        <h1 ><%= gameTitle %></h1>
        <p><%= gameDesc %></p>
        <!--<p>check box choose the series features of game and </p>-->

        <!--
        <form action="">
            <input type="checkbox" id="series1" name="series1" value="texture">
            <label for="series1"> Texture</label><br>

            <input type="checkbox" id="series2" name="series2" value="story">
            <label for="series2"> Story</label><br>

            <input type="checkbox" id="series3" name="series3" value="picture">
            <label for="series3"> Picture</label><br>

            <input type="checkbox" id="series4" name="series4" value="music">
            <label for="series3"> Music</label><br>

            <input type="checkbox" id="series5" name="series5" value="UI">
            <label for="series3"> UI</label><br><br>

            <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
        -->
    </div>



</div>

<%- include('../common/footer.ejs'); %>