<% if(!isLogin){ %>
    <%- include('../common/headerLogOut.ejs'); %>
<% } else{ %>
    <%- include('../common/headerLogIn.ejs'); %>
<% } %>

<link type="text/css" href="../style/home.css" rel="stylesheet">

<div class="page-content">
            <div class="sub-section" id="top-rate">
                <h2 class="section-title">Top Rated Games</h2>
                <hr class="section-separator"/>

                <!-- To be added -->
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <a href="/game?id=BreathOfTheWild"><img src="image/zelda.png" alt="ZELDA" style="width:450px"></a>
                            <span><h1>The Legend of Zelda: Breath of The Wild</h1></span>
                        </div>
                        <div class="column">
                            <a href="/game?id=SuperSmashBrosUltimate"><img src="image/superSmashBros.png" alt="SSB" style="width:450px"></a>
                            <span><h1>Super Smash Bros. Ultimate</h1></span>
                        </div>
                        <div class="column">
                            <a href="/game?id=CODMWRemaster"><img src="image/callOfDuty.png" alt="COD" style="width:450px"></a>
                            <span><h1>Call of Duty: Modern Warfare (Remastered)</h1></span>
                        </div>
                        <div class="column">
                            <a href="/game?id=FIFA22"><img src="image/FIFA.png" alt="FIFA" style="width:450px"></a>
                            <span><h1>FIFA 2022</h1></span>
                        </div>

                    </div>
                </div>


            </div>

            <div class="sub-section" id="recent-release">
                <h2 class="section-title">Recent Releases</h2>
                <hr class="section-separator"/>
                <!-- To be added -->
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <a href="/game?id=Xenoblade3"><img src="image/Xenoblade3.png" alt="Xeno3" style="width:450px"></a>
                            <span><h1>Xenoblade 3</h1></span>
                        </div>

                        <div class="column">
                            <a href="/game?id=PokemonArceus"><img src="image/pokemon.png" alt="pokem" style="width:450px"></a>
                            <span><h1>Pokemon Arceus</h1></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

<%- include('../common/footer.ejs'); %>
