<%- include('../common/header.ejs'); %>

<link type="text/css" href="../style/home.css" rel="stylesheet">

<div class="page-content">
            <div class="sub-section" id="top-rate">
                <h2 class="section-title">Top Rated Games</h2>
                <hr class="section-separator"/>

                <!-- To be added -->
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <a href="game.html"><img src="image/zelda.png" alt="ZELDA" style="width:auto"></a>
                            <span><h>description for zelda</h></span>
                        </div>
                        <div class="column">
                            <a href="game.html"><img src="image/superSmashBros.png" alt="SSB" style="width:auto"></a>
                            <span><h>description for Super smash bros</h></span>
                        </div>
                        <div class="column">
                            <a href="game.html"><img src="image/callOfDuty.png" alt="COD" style="width:auto"></a>
                            <span><h>description for COD</h></span>
                        </div>
                        <div class="column">
                            <a href="game.html"><img src="image/FIFA.png" alt="FIFA" style="width:auto"></a>
                            <span><h>description for FIFA</h></span>
                        </div>

                    </div>
                </div>


            </div>

            <div class="sub-section" id="recent-release">
                <h2 class="section-title">Recent Releases</h2>
                <hr class="section-separator"/>
                <!-- To be added -->
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <a href="game.html"><img src="image/Xenoblade3.png" alt="Xeno3" style="width:auto"></a>
                            <span><h>description for Xenoblade3</h></span>
                        </div>

                        <div class="column">
                            <a href="game.html"><img src="image/pokemon.png" alt="pokem" style="width:auto"></a>
                            <span><h>description for Pokemon Arceus</h></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

<%- include('../common/footer.ejs'); %>
