<%- include('../common/header.ejs'); %>

<link type="text/css" href="../style/signin.css" rel="stylesheet">


                <h1>Signin in to Gamexhibit</h1>

                <div class="login-form">
                    <form id="login-form" method="post">
                        <div>
                            <p class="textbox-label"><label for="username"><b>Username</b></label></p>
                            <input class="textbox" type="text" placeholder="Enter Username" name="username" required>
                        </div>

                        <div>
                            <p class="textbox-label"><label for="password"><b>Password</b></label></p>
                            <input class="textbox" type="password" placeholder="Enter Password" name="password" required>
                        </div>

                        <div id="login-button">
                            <button type="submit">Login</button>
                        </div>
                        <!--
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        -->
                    </form>
                    <div id="message-prompt">
                        <p><%= Message %></p>
                    </div>
                    <div id="alternate-prompt">
                        <a href="/register">New User?</a>
                    </div>
                </div>


<%- include('../common/footer.ejs'); %>