<%- include('../common/header.ejs'); %>

<link type="text/css" href="../style/signup.css" rel="stylesheet">

                <div class="login-form-content">
                    <h1>Register for a Gamexhibit account</h1>
                    <form id="login-form" method="post">
                        <div>
                            <p class="textbox-label"><label for="username"><b>Username</b></label></p>
                            <input class="textbox" type="text" placeholder="Enter Username" name="username" required>
                        </div>

                        <div>
                            <p class="textbox-label"><label for="email"><b>Email</b></label></p>
                            <input class="textbox" type="email" placeholder="Enter Email" name="email" required>
                        </div>

                        <div>
                            <p class="textbox-label"><label for="password"><b>Password</b></label></p>
                            <input class="textbox" type="password" placeholder="Enter Password" name="password" required>
                        </div>

                        <div>
                            <p class="textbox-label"><label for="passwordV"><b>Password Again</b></label></p>
                            <input class="textbox" type="password" placeholder="Enter Password Again" name="passwordV" required>
                        </div>

                        <div id="login-button">
                            <button type="submit">Register</button>
                        </div>
                        <!--
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        -->
                    </form>
                    <div id="message-prompt">
                        <p><%= Message %></p>
                    </div>
                    <div id="alternate-prompt">
                        <a href="/login">Already have an account?</a>
                    </div>
                </div>

<%- include('../common/footer.ejs'); %>