<%- include('../common/header.ejs'); %>

<link type="text/css" href="../style/signin.css" rel="stylesheet">


                <h1>Login in to Gamexhibit</h1>

                <div class="login-form">
                    <form id="login-form" method="post">
                        <div>
                            <p class="textbox-label"><label for="uname"><b>Username</b></label></p>
                            <input class="textbox" type="text" placeholder="Enter Username" name="uname" required>
                        </div>

                        <div>
                            <p class="textbox-label"><labelfor="psw"><b>Password</b></label></p>
                            <input class="textbox" type="password" placeholder="Enter Password" name="psw" required>
                        </div>

                        <div id="login-button">
                            <button type="submit">Login</button>
                        </div>
                        <!--
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        -->
                    </form>
                </div>
                <div class="new-user-prompt">
                    <a href="">New User?</a>
                </div>

<%- include('../common/footer.ejs'); %>