<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title> <%= Title%> </title>
    <link rel="stylesheet" href="../style/common/header.css">
    <link rel="stylesheet" href="../style/common/footer.css">
</head>

<header>
    <div id="site-logo" >
        <a href="/">
            <img src="image/sitelogo.png" width="60">
        </a>
    </div>

    <div id="page-links">
        <ul>
            <a href="/">Games</a>
            <a href="/">About</a>
        </ul>
    </div>

    <div id="search-bar">
        <form method="get">
            <img src="https://imgs.search.brave.com/M1AxPgRh8AGIrOXvXx6nMxo_exlUQsLwsK0DBg59mf0/rs:fit:256:256:1/g:ce/aHR0cHM6Ly93d3cu/aWNvbnNkYi5jb20v/aWNvbnMvcHJldmll/dy93aGl0ZS9zZWFy/Y2gtMy14eGwucG5n" alt="search icon" width="36"/>
            <input type="text" placeholder="Search for a game..."/>
        </form>
    </div>
    <div id="sign-in">
        <button onClick="window.location.href='signin'">Sign In</button>
    </div>

</header>
