<hr/>

<link type="text/css" href="../style/common/reviewForm.css" rel="stylesheet">

<div id="review-forum">

    <form action="/postreview" method="post">
        <input type="range" min="0" max="100" id="gameplay-rating" name="gameplayrating" class="slider" value="50" oninput="sliderChange(this.value)">
        <label for="gameplay-rating"> Gameplay</label><br>

        <input type="range" min="0" max="100" id="graphic-rating" name="graphicrating" class="slider" value="50" oninput="sliderChange(this.value)">
        <label for="graphic-rating"> Graphics</label><br>

        <input type="range" min="0" max="100" id="sound-rating" name="soundrating" class="slider" value="50" oninput="sliderChange(this.value)">
        <label for="sound-rating"> Sounds</label><br>

        <input type="range" min="0" max="100" id="art-rating" name="artrating" class="slider" value="50" oninput="sliderChange(this.value)">
        <label for="art-rating"> Art Direction</label><br>

        <input type="range" min="0" max="100" id="replay-rating" name="replayrating" class="slider" value="50" oninput="sliderChange(this.value)">
        <label for="replay-rating"> Replay-ability</label><br>

        <input type="range" min="0" max="100" id="story-rating" name="storyrating" class="slider" value="50" oninput="sliderChange(this.value)">
        <label for="story-rating"> Story</label><br><br>

        <textarea type="text" class="input" placeholder="Additional review" id="additional-review" style="width: 741px; height: 238px;"></textarea><br><br>
        <input id="review-submit" type="submit" value="Submit">
    </form>
</div>